<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Login & Registration</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    {% load static %}
    <link href="{% static 'login/css/styles.css' %}" rel="stylesheet" />
</head>

<body>
    <div class="container mt-4">
        <h1 class="mb-4 text-center">Travel Buddy</h1>
        <div class="row">
            
            <div class="col-4">
                <fieldset class="border p-4">
                <h2>Registration</h2>
                <hr>
                <form class="form mt-3" action="/users/create" method="POST">
                    {% csrf_token %}
                    <div class="form-group">
                            <label for="name">Name:</label>
                            {% for msg in messages %}
                                {% if 'name error' == msg.tags %}
                                <p class="{{ msg.tags }} text-danger">
                                    {{ msg }}
                                </p>
                                {% endif %}
                            {% endfor %}
                        <input class="form-control" type="text" name="name" id="name" />
                    </div>
                    <div class="form-group">
                        <label for="username">Username:</label>
                        {% for msg in messages %}
                            {% if 'username error' == msg.tags %}
                            <p class="{{ msg.tags }} text-danger">
                                {{ msg }}
                            </p>
                            {% endif %}
                        {% endfor %}
                        <input class="form-control" type="text" name="username" id="username" />
                    </div>
                    <div class="form-group">
                        <label for="password">Password:</label>
                        {% for msg in messages %}
                            {% if 'password error' == msg.tags %}
                            <p class="{{ msg.tags }} text-danger">
                                {{ msg }}
                            </p>
                            {% endif %}
                        {% endfor %}
                        <input class="form-control" type="password" name="password" id="password" />
                    </div>
                    <div class="form-group">
                            <small class="form-text text-muted">Password needs to be atleast 8 characters.</small>
                        <label for="confirm_password">Confirm Password:</label>
                        {% for msg in messages %}
                            {% if 'confirm_password error' == msg.tags %}
                            <p class="{{ msg.tags }} text-danger">
                                {{ msg }}
                            </p>
                            {% endif %}
                        {% endfor %}
                        <input class="form-control" type="password" name="confirm_password" id="confirm_password" />
                    </div>
                    <input class="btn btn-primary" type="submit" value="Register" />
                </form>
                </fieldset>
            </div>
            <div class="col-4 ml-5">
                <fieldset class="border p-4">
                <h2>Login</h2>
                <hr>
                <form class="form mt-3" action="/login" method="POST">
                    {% csrf_token %}
                    
                    <div class="form-group">
                        <label for="login_username">Username:</label>
                        {% for msg in messages %}
                            {% if 'username error' == msg.tags %}
                            <p class="{{ msg.tags }} text-danger">
                                {{ msg }}
                            </p>
                            {% endif %}
                        {% endfor %}
                        <input class="form-control" type="text" name="username" id="login_username" />
                    </div>
                    <div class="form-group">
                        <label for="login_pw">Password:</label>
                        {% for msg in messages %}
                            {% if 'pwd error' == msg.tags %}
                            <p class="{{ msg.tags }} text-danger">
                                {{ msg }}
                            </p>
                            {% endif %}
                        {% endfor %}
                        <input class="form-control" type="password" name="pwd" id="login_pw" />
                    </div>
                    <input class="btn btn-success" type="submit" value="Login" />
                </form>
                </fieldset>
            </div>
        </div>
    </div>

    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
        crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
        crossorigin="anonymous"></script>
</body>

</html>